/* Estrutura Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo do Corpo da Página */
body {
    background: #0a0a0a;
    color: #fff;
}

/* Estilo da Seção */
.secao {
    padding: 100px 0;
    margin-left: 30px;
    text-align: justify;
    align-items: center;
    justify-content: center;
}
.conteudo-secao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.titulo-secao {
    font-size: 36px;
    color: #007BFF;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
/* Estilo do Cabeçalho */
header {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 20px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para a imagem circular */
.foto-circular {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #ddd;
}

/* Estilo da Seção Principal */
.principal {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    min-height: 85vh;
}

.principal h1 {
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing: -2px;
}

.principal h1 span {
    color: rgb(28, 28, 146);
}

.principal p {
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    color: #bbb;
}

/* Seção Sobre Mim */
.sobre-mim {
    text-align: center;
    padding: 50px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.sobre-mim h2 {
    font-size: 36px;
    color: #007BFF;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.sobre-mim p {
    font-size: 18px;
    color: #ccc;
    line-height: 1.6;
}

/* Estilo da Grade de Projetos */
.grade-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.card-projetos {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 320px;
    text-align: center;
    overflow: hidden;
}

.card-projetos video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-projetos h3 {
    margin-top: 10px;
}

/* Botões */
.botao-Instagram,
.botao-WhatsApp,
.botao-LinkedIn,
.botao-GitHub {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
}

.botao:hover {
    opacity: 0.8;
}

.botao:active {
    opacity: 0.4;
}

/* Estilo dos Botões de Contato */
.botoes-contato {
    text-align: center;
}

.botoes-contato h3 {
    font-size: 35px;
    margin-bottom: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

.botoes-contato a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.botao-WhatsApp {
    background-color: #2ec704;
}

.botao-Instagram {
    background-color: #920846;
}

.botao-LinkedIn {
    background-color: #007BFF;
}

.botao-GitHub {
    background-color: #cc690c;
}

header ul li a i {
    margin-right: 5px; /* Adiciona espaço entre o ícone e o texto */
    font-size: 18px;   /* Ajusta o tamanho do ícone */
    color: #ccc;       /* Deixa a cor dos ícones mais discreta */
    margin-top: 25px;
}

header ul li a:hover i {
    color: #007BFF; /* Altera a cor ao passar o mouse */
}

header ul li a {
    color: #fff;
}

header ul li a.ativo {
    color: #007BFF; /* Realça o item ativo */
    font-weight: bold;
    border-bottom: 2px solid #007BFF; /* Uma borda para mostrar destaque */
}
.voltar-topo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0; /* Começa invisível */
    transform: scale(0.9);
    z-index: 1000;
}

.voltar-topo:hover {
    background-color: #0056b3;
    transform: scale(1);
}

.voltar-topo.show {
    opacity: 1; /* Torna visível */
}

.botao-projeto {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
}

.botao-projeto:hover {
  background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 568px) {
    header {
        font-size: 11px;
        justify-content: center;
    }

    .foto-circular {
        width: 120px;
        height: 120px;
    }

    .principal h1 {
        font-size: 30px;
        text-align: left;
        margin-bottom: 15px;
    }

    .botoes-contato h3 {
        font-size: 20px;
    }

    .card-projetos {
        width: 150px;
       
    }

    .grade-projetos {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }


    header ul {
        gap: 35px;
        margin-left: 1px;
        margin-top: 2px;
    }

    .secao {
        margin-left: 1px 0 0 0;
        font-size: 7px;
        text-align: center;
    }

    .secao h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .botao-Instagram,
    .botao-WhatsApp,
    .botao-LinkedIn,
    .botao-GitHub {
        font-size: 10px;
        padding: 10px 20px;
        width: 80px;
    }


}